In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('dataset/kidney_stone_data.csv')
df

    treatment stone_size  success
0           B      large        1
1           A      large        1
2           A      large        0
3           A      large        1
4           A      large        1
..        ...        ...      ...
695         B      small        0
696         B      small        1
697         B      small        1
698         A      large        1
699         A      small        1

[700 rows x 3 columns]

In [4]:
df.head()

  treatment stone_size  success
0         B      large        1
1         A      large        1
2         A      large        0
3         A      large        1
4         A      large        1

In [5]:
df.isnull()

     treatment  stone_size  success
0        False       False    False
1        False       False    False
2        False       False    False
3        False       False    False
4        False       False    False
..         ...         ...      ...
695      False       False    False
696      False       False    False
697      False       False    False
698      False       False    False
699      False       False    False

[700 rows x 3 columns]